# test

In [59]:
print('hello anaconda')

hello anaconda

# a code sample

In [60]:
x = 30 - 23            # A comment.
y = "Hello"           # Another one.
z = 3
if z == 3 or y == "Hello":
    x = x + 1
    y = y + "World"  # String concat.
print(x)
print(y)

8
HelloWorld

# 基础语法

## title #下面为未运行的样子，试试运行一下

# 一级标题
## 二级标题
### 三级标题
#### 四级标题

## Assignment

In [61]:
a = [1, 2, 3]; b = a
a.append(4); print (b)

[1, 2, 3, 4]

In [65]:
a = [1, 2, 3]; b = a.copy()
a.append(4); print (b)

[1, 2, 3]

In [62]:
a = 1; b = a
a = 2; print(b)

1

In [2]:
a = [1,2,3]
type(a)

list

In [3]:
a = 1
type(a)

int

In [4]:
a,b = [1,2,3],1

In [5]:
print(a);print(b)

[1, 2, 3]
1

##  int/float

In [66]:
a = 10 
b = 3.14
c = 3
d = a**2

In [ ]:
print (type (d)) # return the type of d
print (type (d/10)) # return the type of d/10
print (type (a/b)) # return the type of a/b
print (type (a/c)) # return the type of a/c
print (type (b*d)) # return the type of b*d

### 在Python 3中，int与另一个int做 '/' 运算将输出float。
### 在Python 2.7中，int与另一个int做 '/' 运算将输出int。

In [68]:
print (type(a/c)) # return the type of a/c

<class 'float'>

## precision of float

In [11]:
0.1+0.2

0.30000000000000004

In [69]:
# import  “decimal”, which is a module for decimalism(十进制) calculation. You need to import module before using it.
import  decimal  
# display  2  decimal  precision
print (round (3.1415,2))
print (round (9.995,2))
print (decimal.Decimal (9.995)) # 返回9.995的真正存储值

3.14
9.99
9.9949999999999992184029906638897955417633056640625

## strings

In [18]:
"hello"
"This is a string"
"This, too, is a string. It can be very long!"

In [ ]:
"This is not
a legal String."
"This is not a "legal" String either."

# Tuples, Strings and Lists

## Tuples are immutable

In [70]:
tup = (1, "a", "string", 1+2) 
print(tup) 
print(tup[1])
print(tup*3) # * copy
print(tup.append(6)) # error

(1, 'a', 'string', 3)
a
(1, 'a', 'string', 3, 1, 'a', 'string', 3, 1, 'a', 'string', 3)

AttributeError: 'tuple' object has no attribute 'append'

In [77]:
string = 'abcdefg'
print(string) 
string.append('a') # error

abcdefg

AttributeError: 'str' object has no attribute 'append'

## Lists are mutable

In [74]:
L = [1, "a" , "string" , 1+2] 
print(L)
L.append(6) 
print(L)
L.pop() 
print(L)
print(L[1])

[1, 'a', 'string', 3]
[1, 'a', 'string', 3, 6]
[1, 'a', 'string', 3]
a

## Definition of tuples, lists, strings

In [86]:
tu = (23, 'abc', 4.56, (2,3), 'def')
li = ['abc', 34, 4.34, 23]
st = 'Hello World'
st = "Hello World"
st = '''This is a multi-line
string that uses triple quotes.'''

## Indexed by integers

In [81]:
tu[1]

'abc'

In [83]:
li[1]

34

In [84]:
st[1]

'h'

## Positive and negative indices

In [89]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1]

'abc'

In [90]:
t[-3]

4.56

## Slicing

In [93]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:2]

('abc',)

In [94]:
t[1:-1]

('abc', 4.56, (2, 3))

In [95]:
t[:2]

(23, 'abc')

## copy

In [96]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

## 'in' oprater

In [97]:
t = [1, 2, 4, 5]
3 in t

False

In [98]:
4 in t

True

In [99]:
4 not in t

False

In [100]:
a = 'abcde'
'c' in a

True

In [101]:
'cd' in a

True

In [102]:
'ac' in a

False

## '+' operator

In [105]:
print((1, 2, 3) + (4, 5, 6))
print([1, 2, 3] + [4, 5, 6])
print('Hello' + ' ' + 'World')

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]
Hello World

## '*' operator

In [106]:
print((1, 2, 3) * 3)
print([1, 2, 3] * 3)
print('Hello' * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
[1, 2, 3, 1, 2, 3, 1, 2, 3]
HelloHelloHello

# Tuples vs. Lists

## Tuples are immutable

In [107]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[2] = 3.14  #error

TypeError: 'tuple' object does not support item assignment

In [108]:
t = (23, 'abc', 4.56, (2,3), 'def')
t = (23, 'abc', 3.14, (2,3), 'def')

## Lists are mutable

In [109]:
li = ['abc', 23, 4.34, 23]
li[1] = 45 
li

['abc', 45, 4.34, 23]

## some examples for lists oprations, you can try more presented in ppt

In [123]:
a = list(range(5))
a.append(5);print(a) # [0,1,2,3,4,5]
a.pop();print(a) # [0,1,2,3,4]

a.insert(0, 42);print(a) # [42,0,1,2,3,4]
a.pop(0);print(a) # [0,1,2,3,4]

a.reverse();print(a) # [4,3,2,1,0]
a.sort();print(a) # [0,1,2,3,4]

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4]
[42, 0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[4, 3, 2, 1, 0]
[0, 1, 2, 3, 4]

## Dictionaries

In [124]:
d = {"duck": "eend", "water": "water"}
d["duck"]

'eend'

In [125]:
d["back"] # raises KeyError exception

KeyError: 'back'

# Delete, insert, overwrite
del d["water"];print(d) # {"duck": "eend"}
d["back"] = "rug";print(d) # {"duck": "eend", "back": "rug"}
d["duck"] = "duik";print(d) # {"duck": "duik", "back": "rug"}

In [129]:
# More Dictionary Ops
print(d.keys())               #["duck", "back"]
print(d.values())            #["duik", "rug"]
print(d.items())              #[("duck","duik"), ("back","rug")]

dict_keys(['duck', 'back'])
dict_values(['duik', 'rug'])
dict_items([('duck', 'duik'), ('back', 'rug')])

In [130]:
# Presence check:
print('duck' in d)           #True;
print('spam' in d)           #False

True
False

# if/else and for

## if/else

In [132]:
gpa = 3.4
if gpa > 2.0:
    print('Your application is accepted.')

Your application is accepted.

In [133]:
gpa = 1.4
if gpa > 2.0:
    print ('Welcome to Peking University!')
else:
    print ('Your application is denied.')

Your application is denied.

# 练习题

In [134]:
# 把a按从小到大排序，输出到b中

a = [24, 16, 54]
b = []
if  a[0]< a[1]  and a[0]< a[2] :
    b.append(a[0])
    if  a[1]  <  a[2]:
        b.append(a[1])
        b.append(a[2])
    else:                 
        b.append(a[2])
        b.append(a[1])   
print(b)

[]

In [135]:
# 把a按从小到大排序，输出到b中

a = [24, 16, 54]
b = []
if  a[0]< a[1]  and a[0]< a[2] :
    b.append(a[0])
    if  a[1]  <  a[2]:
        b.append(a[1])
        b.append(a[2])
    else:                 
        b.append(a[2])
        b.append(a[1])   
elif a[1]< a[0]  and a[1]< a[2]:
    b.append(a[1])
    if  a[0]  <  a[2]:
        b.append(a[0])
        b.append(a[2])
    else:                 
        b.append(a[2])
        b.append(a[0])
else:
    b.append(a[2])
    if a[0]  <  a[1]:
        b.append(a[0])
        b.append(a[1])
    else:                 
        b.append(a[1])
        b.append(a[0])
print(b)

[16, 24, 54]

## for loop

In [141]:
for x in range(1, 6):
    print (x, "squared is", x * x)

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

In [137]:
# 循环嵌套
for  i  in range (2):
    print (i)     
    for j in range (4):
        print (j)

0
0
1
2
3
1
0
1
2
3

## range

In [138]:
for x in range(5, 0, -1):    
    print (x)
print ("Blastoff!")

5
4
3
2
1
Blastoff!

# 练习题

In [139]:
# 把a按从小到大排序，输出到b中

a = [24, 16, 54]
b = a.copy()
for i in range(len(b) - 1):  # 遍历len(b)-1 次
    minIndex = i
    for j in range(i + 1, len(b)): # 从第i+1个值遍历到最后一个值
        if b[j] < b[minIndex]:  # 找到第i+1个值到最后一个值中的最小值
            minIndex = j  
    b[i], b[minIndex] = b[minIndex], b[i] # 把最小值交换到前面第i位
print(b)

[16, 24, 54]

## Cumulative loops

In [140]:
sum = 0
for i in range(1, 11):
    sum = sum + (i * i)
print ("sum of first 10 squares is", sum)

sum of first 10 squares is 385

## while loop

In [142]:
number = 1
while number < 200:
    print (number) 
    number = number * 2

1
2
4
8
16
32
64
128

## break/continue

In [143]:
# search the first number be divided by 17
for i in range(300, 351):
    if i % 17 == 0:
        print (i)
        break
    else :
        continue

306

# Executing functions

In [144]:
def foo(x):
    y = 10 * x + 2
    return y

In [147]:
print(foo(10))

102

# Modules

In [149]:
import math
print(math.sqrt(2.0))

1.4142135623730951

In [150]:
from math import sqrt
print(sqrt(2.0))

1.4142135623730951

In [151]:
import sys, string, math

In [156]:
from math import sqrt,from sys import abiflags #Only one "from x import y" per line

SyntaxError: invalid syntax (<ipython-input-156-11f8539b186a>, line 1)